
section {
    padding: 35px 0 60px;
}

@media screen and (min-width: 960px) {
    #intro hr {
        width: calc(960px - 4rem);
    }
}

#intro hr {
    border-top-color: whitesmoke;
    border-top-width: 4px;
}

#portfolio hr {
    border-top-width: 3px;
}

.portfolio {
    margin-bottom: -30px;
    padding: 2rem 0;
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 30px;
    border-radius: .5rem;
    overflow: hidden;
}




@media screen and (min-width: 960px) {
.content {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

.section {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}

#projects {
    background-color: orangered;
}

#volunteering {
    background-color: purple;
}

.vl {
    height: 80%;
    border-left: 4px solid white;
}

.section-picture {
    border-left: 2px solid whitesmoke;
    width: 50%;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.section-description {
    /* display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; */
    width: 50%;
    height: 100%;
    line-height: 100%;
    text-align: center;
}
.section-description p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: white;
    font-size: 20px;
}